/**index.wxss**/
// .userinfo {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   color: #aaa;
// }

.container {
    padding: 0;
    margin: 0;
    position: relative;

    .map {
        width: 100%;
        height: 100vh;
    }

    .loginWrapper {
        position: absolute;
        margin: auto;
        bottom: 10px;

        button {
            width: 290px;
            height: 45px;
            border-radius: 45px;
            border: 0;
            background: linear-gradient(270deg, #2C6DFF 0%, #4DC6FF 100%);
        }
    }
}